nav div a {
  padding-top: 20px;
  margin-left: 40px;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.8em;
}

nav {
  background-color: black;
  height: 100px;
}

video {
  margin-top: -50px;
}

.brand-logo {
  margin-top: 20px;
}

nav .brand-logo {
  font-size: 4em;
}

.card-panel {
  width: 500px;
}

.col {
  height: 100px;
}

.section {
  margin-top: 50px;
  height: 500px;
}

.page-banner{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: black;
}

.page-banner > *{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}

.page-banner > h1{
  color: white;
  text-align: center;
  font-size: 200px;
}

.page-footer {
  background-color: black;
}

.card-image img {
  height: 25%;
  width: 25%;
}

.card.profile, .card .card-content {
  width: 300px;
}

.card.profile {
  margin-top: 50px;
}

.card.blog {
  margin-top: -3rem;
}